.miniCard {
  position: relative;
  .showModule {
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
  }
  &__outer {
    position: relative;
  }
}
